.main--userList {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
    border-radius: 5px;
    width: 600px;
    border: 1px solid #6666661f;
}

.main__title {
    width: 600px;
    display: flex;
    flex-direction: row;
}
.title__item {
    padding: 15px;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 20px;
    background-color: #a2fbff3b;
    color: #5b5b5bbf;
}
