.main__userBox {
    width: 600px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #6f6f6f45;
    padding: 0;
}

.userBox__item {
    padding: 20px;
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: #919191;
}
