.addUser {
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.addUser__textField > label {
    color: #919191;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    text-align: center;
}

.addUser__textField.addUser__email> div > input::after {
    color: #38ecc5;
}

.addUser__button {
    width: 140px;
    height: 50px;
    border: none;
    background-color: #23ecc7;
    border-radius: 50px;
    color: #f6f6f6;
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: .3s ease-in-out;
    margin-top: 45px;
}
.addUser__button:hover {
    background-color: transparent;
    border: 1px solid #38ecc5;
    color: #5b5b5bb0;
    font-weight: 300;
}
